body {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h1 {
  color: var(--main-text-color);
}

li {
  text-transform: capitalize;
}

input {
  border: 1px solid var(--main-text-color);
  border-radius: 10px;
  color: var(--main-text-color);
  background-color: transparent;
  font-size: calc(10px + 1vmin);
  padding: 5px;
}

.button {
 border: 1px solid var(--main-text-color);
 border-radius: 10px;
 color: var(--main-text-color);
 background-color: transparent;
 font-size: calc(10px + 2vmin);
 padding: 10px;
 margin: 1em 10em;
 cursor: pointer;
}
.button:hover {
 border: 1px solid var(--main-text-color);
 color: var(--main-bg-color);
 background-color: var(--main-text-color);
 transition: 0.5s ease-in-out;
}

.button-edit {
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  background-color: darkgreen;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
}
.button-edit:hover {
  background-color: white;
  color: darkgreen;
  border: 1px solid white;
  transition: 0.5s ease-in;
}

.button-delete {
  margin: 0px;
  padding: 5px;
  font-size: 15px;
  background-color: rgb(141, 5, 5);
  color: white;
  border: 1px solid white;
  border-radius: 8px;
}

.button-delete:hover {
  color: rgb(141, 5, 5);
  background-color: white;
  border: 1px solid white;
  transition: 0.5s ease-in;
}
